/__pycache__
/utils/__pycache__
DHT2HASSIO/.vscode/c_cpp_properties.json
DHT2HASSIO/.vscode/settings.json
.vscode/launch.json
DHT2HASSIO/bin/arduino-cli.exe
DHT2HASSIO/box_id.h
DHT2HASSIO/__pycache__/*
